<!-- <section class="business">
    <div class="business-row">
        @defer (on viewport) {
        <div class="business-para">
            <div class="business-heading">Website <span class="spancolor">Building</span> </div>
            <h3>Key components of <span class="spancolor">web development</span> include:</h3>
            <div class="business-text"> <span class="spancolor">Web development</span> is the process of creating and
                maintaining websites or web
                applications. It involves a combination of skills and technologies to produce a functional and visually
                appealing website that can be accessed over the internet. </div>
            <div class="business-li">
                <div class="li-heading">
                    <p><i style="color: #782df1;"><mat-icon>check_circle</mat-icon></i> Planning Building
                    </p>
                    <p><i style="color: #782df1;"><mat-icon>check_circle</mat-icon></i> Design</p>
                    <p><i style="color: #782df1;"><mat-icon>check_circle</mat-icon></i> Development</p>
                    <p><i style="color: #782df1;"><mat-icon>check_circle</mat-icon></i> Testing. </p>
                </div>
                <div class="li-heading">
                    <p><i style="color: #782df1;"><mat-icon>check_circle</mat-icon></i> Deployment.</p>
                    <p><i style="color: #782df1;"><mat-icon>check_circle</mat-icon></i> Review. </p>
                    <p><i style="color: #782df1;"><mat-icon>check_circle</mat-icon></i> Launch. </p>
                    <p><i style="color: #782df1;"><mat-icon>check_circle</mat-icon></i> Maintenance.</p>
                </div>
            </div>
           
        </div>
        } @placeholder {
        <app-spinner-card></app-spinner-card>
        }

        @defer (on viewport) {
        <div class="business-img">
            <img src="assets/images/homepage/dig.svg" alt="digital-img">
        </div>
        } @placeholder {
        <app-spinner-card></app-spinner-card>
        }

    </div>
</section> -->



<br><br><br>
<section class="digital">
    <div class="digital-row">
        @defer (on viewport) {
        <div class="digital-img">
            <img src="assets/images/homepage/dig.jpg" alt="digital-img">
        </div>
        } @placeholder {
        <app-spinner-card></app-spinner-card>
        }

        @defer (on viewport) {
        <div class="digital-para">
            <div class="digital-heading">Digital <span style="color: #26a69a;">Marketing</span> </div>
            <h3>Key components of digital♻️marketing include</h3>
            <div class="digital-text"><span style="color: #26a69a;">Digital marketing</span> refers to the use of
                digital
                channels, platforms, and
                technologies to promote and advertise products, services, or brands. It encompasses a broad range of
                online marketing activities, utilizing various digital channels such as search engines, social media,
                email, websites, and other <span style="color: #26a69a;">online platforms.</span></div>
            <div class="digital-li">
                <div class="li-heading">
                    <p><i style="color: #26a69a;"><mat-icon>check_circle</mat-icon></i> Search Engine Optimization (SEO)
                    </p>
                    <p><i style="color: #26a69a;"><mat-icon>check_circle</mat-icon></i> Content Marketing</p>
                    <p><i style="color: #26a69a;"><mat-icon>check_circle</mat-icon></i> Email Marketing</p>
                    <p><i style="color: #26a69a;"><mat-icon>check_circle</mat-icon></i> Influencer Marketing</p>
                </div>
                <div class="li-heading">
                    <p><i style="color: #26a69a;"><mat-icon>check_circle</mat-icon></i> Search Engine Marketing (SEM)
                    </p>
                    <p><i style="color: #26a69a;"><mat-icon>check_circle</mat-icon></i> Social Media Marketing </p>
                    <p><i style="color: #26a69a;"><mat-icon>check_circle</mat-icon></i> Affiliate Marketing</p>
                    <p><i style="color: #26a69a;"><mat-icon>check_circle</mat-icon></i> Online PR (Public Relations)</p>
                </div>
            </div>
            <div class="digital-link">
                <button><a href="/categories/digital_marketing_lists">Let's see</a></button>
            </div>
        </div>
        } @placeholder {
        <app-spinner-card></app-spinner-card>
        }
    </div>
</section>