<!--This is a Service page with Html Code with more topics -->

<div class="service">
    <!--************** You Always Getthe Best Guidance **************-->
    <section>
        <div class="container-best">
            <div class="bestrow">
                <div class="best-item" title="You Always Get the Best Guidance">
                    <div class="landing_title">
                        <h1 [style.text-align]="'center'"><b>You Always Get </b>
                            <i><mat-icon>dynamic_feed</mat-icon></i>
                            <span class="spancolor"> <b> the Best Guidance</b></span>
                        </h1>
                    </div>
                </div>
            </div>
            <br />
            <div class="container-best">
                <div class="bestrow">
                    <div class="best-item">
                        <div class="counter">
                            <div class="counter-content">
                                <span class="counter-value">500K+</span>
                                <p class="title">
                                    <a href="https://tech-learning.ssbrinet.com/">Online<br /><i
                                            style="color:#13a132;"><mat-icon>language</mat-icon></i>
                                        Students</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    @defer (on viewport) {
                    <div class="bestrow">
                        <div class="best-item">
                            <div class="counter">
                                <div class="counter-content">
                                    <span class="counter-value">55+</span>
                                    <p class="title"><a href="https://tech-learning.ssbrinet.com/">Online<br /><i
                                                style="color:#4c0a9d;"><mat-icon>book_4</mat-icon></i>&nbsp;
                                            Courses</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    } @placeholder {
                    <app-spinner-card></app-spinner-card>
                    }

                    @defer (on viewport) {
                    <div class="bestrow">
                        <div class="best-item">
                            <div class="counter">
                                <div class="counter-content">
                                    <span class="counter-value">102+</span>
                                    <p class="title"><a href="https://tech-learning.ssbrinet.com/">Expert<br /><i
                                                style="color:#1114ce;"><mat-icon>local_library</mat-icon></i>&nbsp;
                                            Tutorials</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    } @placeholder {
                    <app-spinner-card></app-spinner-card>
                    }

                    @defer (on viewport) {
                    <div class="bestrow">
                        <div class="best-item">
                            <div class="counter">
                                <div class="counter-content">
                                    <span class="counter-value">52+</span>
                                    <p class="title"><a href="https://www.youtube.com/@ssbrinet">Certified <br /><i
                                                style="color:#34c5fa;"><mat-icon>verified_user</mat-icon></i>
                                            Courses</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    } @placeholder {
                    <app-spinner-card></app-spinner-card>
                    }

                    @defer (on viewport) {
                    <div class="bestrow">
                        <div class="best-item">
                            <div class="counter">
                                <div class="counter-content">
                                    <span class="counter-value">250+</span>
                                    <p class="title"><a href="https://tech-learning.ssbrinet.com/">eBooks<br /><i
                                                style="color:#48484d;"><mat-icon>library_books</mat-icon></i>&nbsp;
                                            Website</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    } @placeholder {
                    <app-spinner-card></app-spinner-card>
                    }

                    @defer (on viewport) {
                    <div class="bestrow">
                        <div class="best-item">
                            <div class="counter">
                                <div class="counter-content">
                                    <span class="counter-value">5+</span>
                                    <p class="title"><a
                                            href="/about-us.htm"><i><mat-icon>workspace_premium</mat-icon></i>
                                            Years of
                                            <br />Experience</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    } @placeholder {
                    <app-spinner-card></app-spinner-card>
                    }
                </div>
            </div>


        </div>
    </section>
</div>