<div class="compilers_fuild">
    <div class="compilers-row">
        <div class="compilers-card">
            <h1>Compilers</h1>
            <p>Execute code in your browser, without installing anything.</p>
            <div class="compilers-btn">
                <img src="assets/icons/web/js.svg" alt="">
                <a href="">Python</a>
            </div>

        </div>
        <div class="compilers-card">
            <img src="assets/icons/compilers.svg" alt="compilers">
        </div>
    </div>
</div>