//There are css for Layout System #09334E
.mat-sidenav-container {
    width: 100%;
    padding-top: 65px;
    height: 100vh;
    background-color: #fff;

    mat-toolbar {
        position: fixed;
        height: 40px;
        z-index: 100;
        background-color: #f0f1ff;
    }
}

.toggleMenu{
    display: none !important;
}

.mat-sidenav {
    width: 270px;
    height: 100vh;
    background-color: #f0f1ff !important;
    box-shadow: 0px 0px 8px rgba(238, 238, 238, 0.9333333333);
    margin-top: 65px;
}

.main-penal {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items:flex-start;
}

.main-overview {
    flex-basis: 78%;
    // margin: 10px 0px;
    /* background-color: aqua; */
    background-color: #fff;
    padding: 20px;
    margin-top: 40px;
    text-align: justify;
    border-right: 1.5px solid #B0BEC5;
}

.main-sidebar {
    flex-basis: 22%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0px 36px 0px 1px;
    position: -webkit-sticky;
    position: sticky;
    top: 55px;
}
// .main-sidebar-ads {
//     z-index: 10;
//     background-color: antiquewhite;
//     margin: 0;
//     padding: 2px 0 0 12px;
//     position: -webkit-sticky;
//     position: sticky;
//     top: 100px;
// }

@media (max-width:991px) {
    
}

@media (max-width:768px) {
    
}

@media (max-width:576px) {

    .toggleMenu{
        display: block !important;
    }

    .main-penal {
        width: 100%;
        display: block;
        overflow: hidden;
        margin-top: 45px;
    }
    
    .main-overview {
        flex-basis: 100%;
        // margin: 10px 0px;
        /* background-color: aqua; */
        padding: 15px;
        text-align: justify;
        border-right: 0px solid #B0BEC5;
    }
    
    .main-sidebar {
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 0px 36px 0px 1px;
        position: -webkit-sticky;
        position: sticky;
        top: 55px;
    }

}