<p>css-view-page works!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem eius, non quibusdam aliquid consequuntur, porro
    architecto, totam quam quo natus eaque cum quidem autem. In qui quos incidunt minima ex.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus consectetur itaque excepturi earum atque eveniet,
    animi quae consequuntur veniam, sequi eum autem commodi iste. Consequuntur ut dolor debitis numquam quas?
</p>

<p>css-view-page works!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem eius, non quibusdam aliquid consequuntur, porro
    architecto, totam quam quo natus eaque cum quidem autem. In qui quos incidunt minima ex.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus consectetur itaque excepturi earum atque eveniet,
    animi quae consequuntur veniam, sequi eum autem commodi iste. Consequuntur ut dolor debitis numquam quas?
</p>

@for (item of PostLists; track $index) {
<div>
    <p>{{item.id}}</p>
    <p>{{item.title}}</p>
    <p>{{item.body}}</p>
    <hr>
</div>
}