<!--Top Categories box and content box in html code with icone and padding and border 1px solid grey -->
<section>
    <div class="top-categories">
        <h1 style="text-align: center;">Frequently Asked <span class="spancolor"><mat-icon>question_mark</mat-icon>
                Questions</span>.</h1>
        <br>
        <div class="top-categories-row">

            <div class="top-categories-item">
                <mat-accordion>
                    <mat-expansion-panel (opened)="panelOpenState = true" showToggle
                        style="border-left:2.5px solid #3d0db6">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4><strong><span style="color:#26A69A;">1.</span></strong> <b> What is Ssbr iNet ?<i
                                            class="fa fa-question-circle-o" aria-hidden="true"
                                            style="color:#26A69A;"></i></b></h4>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p><strong>Answer. <i style="color: #26A69A;"></i></strong>
                        </p>
                        <p> Ssbr iNet is an educational platform and website that offers online coding courses and
                            resources for learning web development and programming languages.</p>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>

            <div class="top-categories-item">
                @defer (on viewport) {
                <mat-accordion>
                    <mat-expansion-panel (opened)="panelOpenState = true" showToggle
                        style="border-left:2.5px solid #3d0db6">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4><strong><span style="color:#26A69A;">2.</span></strong> <b> What courses are
                                        available on Ssbr iNet ?<i class="fa fa-question-circle-o" aria-hidden="true"
                                            style="color:#26A69A;"></i></b></h4>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p><strong>Answer. <i style="color:#26A69A;"></i></strong>
                        </p>
                        <p> Ssbr iNet offers courses and tutorials on various topics, including HTML, CSS, JavaScript,
                            JSON, PHP, Python, Angular, React.js, MySQL, Bootstrap, Node.js, jQuery, AJAX, TypeScript,
                            Data Analytics, R, C++, C#, and Java.</p>
                    </mat-expansion-panel>
                </mat-accordion>
                } @placeholder {
                <app-spinner-card></app-spinner-card>
                }
            </div>

            <div class="top-categories-item">
                @defer (on viewport) {
                <mat-accordion>
                    <mat-expansion-panel (opened)="panelOpenState = true" showToggle
                        style="border-left:2.5px solid #3d0db6">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4><strong><span style="color:#26A69A;">3.</span></strong> <b> Is Ssbr iNet a free
                                        platform ?<i class="fa fa-question-circle-o" aria-hidden="true"
                                            style="color:#26A69A;"></i></b></h4>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p><strong>Answer. <i style="color: #26A69A;"></i></strong></p>

                        <p> Ssbr iNet operates on a freemium model, meaning that some resources and courses are
                            available for free, while there may be premium content or features that require payment.</p>
                    </mat-expansion-panel>
                </mat-accordion>
                } @placeholder {
                <app-spinner-card></app-spinner-card>
                }
            </div>


            <div class="top-categories-item">
                @defer (on viewport) {
                <mat-accordion>
                    <mat-expansion-panel (opened)="panelOpenState = true" showToggle
                        style="border-left:2.5px solid #3d0db6">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4><strong><span style="color:#26A69A;">4.</span></strong> <b> When was Ssbr iNet
                                        founded ?<i class="fa fa-question-circle-o" aria-hidden="true"
                                            style="color: #4207a0;"></i></b></h4>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p><strong>Answer.<i class="fa fa-check-circle" aria-hidden="true"
                                    style="color:#26A69A;"></i></strong></p>

                        <p> Ssbr iNet was founded in 2018, and it has been actively providing learning resources since
                            then.</p>
                    </mat-expansion-panel>
                </mat-accordion>
                } @placeholder {
                <div class="spancolor">Loading.....</div>
                }
            </div>

            <div class="top-categories-item">
                @defer (on viewport) {
                <mat-accordion>
                    <mat-expansion-panel (opened)="panelOpenState = true" showToggle
                        style="border-left:2.5px solid rgb(61, 13, 182)">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4><strong><span style="color:#26A69A;">5.</span></strong> <b> What is the "Try it
                                        Yourself" feature ?<i class="fa fa-question-circle-o" aria-hidden="true"
                                            style="color: #4207a0;"></i></b></h4>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p><strong>Answer.<i class="fa fa-check-circle" aria-hidden="true"
                                    style="color: #26A69A;"></i></strong></p>

                        <p> Try it Yourself" is a built-in online text editor on Ssbr iNet that allows users to edit
                            code examples and run them to see the results in real-time, providing an interactive
                            learning experience.</p>
                    </mat-expansion-panel>
                </mat-accordion>
                } @placeholder {
                <app-spinner-card></app-spinner-card>
                }
            </div>

            <div class="top-categories-item">
                @defer (on viewport) {
                <mat-accordion>
                    <mat-expansion-panel (opened)="panelOpenState = true" showToggle
                        style="border-left:2.5px solid #3d0db6">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4><strong><span style="color:#26A69A;">6.</span></strong> <b> Can I access Ssbr iNet
                                        without registration ?<i class="fa fa-question-circle-o" aria-hidden="true"
                                            style="color: #4207a0;"></i></b></h4>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p><strong>Answer.<i class="fa fa-check-circle" aria-hidden="true"
                                    style="color:#26A69A;"></i></strong></p>

                        <p> Yes, you can access the main educational content on Ssbr iNet without registration. However,
                            registration may be required for certain features, such as participating in the forum
                            section.</p>
                    </mat-expansion-panel>
                </mat-accordion>
                } @placeholder {
                <app-spinner-card></app-spinner-card>
                }
            </div>

            <div class="top-categories-item">
                @defer (on viewport) {
                <mat-accordion>
                    <mat-expansion-panel (opened)="panelOpenState = true" showToggle
                        style="border-left:2.5px solid #3d0db6">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4><strong><span style="color:#26A69A;">7.</span></strong> <b> What is the
                                        specialization of Ssbr iNet ?<i class="fa fa-question-circle-o"
                                            aria-hidden="true" style="color: rgb(66, 7, 160);"></i></b></h4>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p><strong>Answer.<i class="fa fa-check-circle" aria-hidden="true"
                                    style="color:#26A69A"></i></strong></p>

                        <p> Ssbr iNet specializes in providing education and resources for web development, coding,
                            programming, and related technologies.</p>
                    </mat-expansion-panel>
                </mat-accordion>
                } @placeholder {
                <app-spinner-card></app-spinner-card>
                }
            </div>

            <div class="top-categories-item">
                @defer (on viewport) {
                <mat-accordion>
                    <mat-expansion-panel (opened)="panelOpenState = true" showToggle
                        style="border-left:2.5px solid #3d0db6">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4><strong><span style="color:#26A69A;">8.</span></strong> <b> Does Ssbr iNet provide
                                        templates ?<i class="fa fa-question-circle-o" aria-hidden="true"
                                            style="color: #4207a0;"></i></b></h4>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p><strong>Answer.<i class="fa fa-check-circle" aria-hidden="true"
                                    style="color:#26A69A;"></i></strong></p>

                        <p>Yes, Ssbr iNet publishes free HTML templates and web templates that users can utilize for
                            their web development projects.</p>
                    </mat-expansion-panel>
                </mat-accordion>
                } @placeholder {
                <app-spinner-card></app-spinner-card>
                }
            </div>

            <div class="top-categories-item">
                @defer (on viewport) {
                <mat-accordion>
                    <mat-expansion-panel (opened)="panelOpenState = true" showToggle
                        style="border-left:2.5px solid #3d0db6">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4><strong><span style="color:#26A69A;">9.</span></strong> <b> What languages are
                                        supported on Ssbr iNet ?<i class="fa fa-question-circle-o" aria-hidden="true"
                                            style="color: #4207a0;"></i></b></h4>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p><strong>Answer.<i class="fa fa-check-circle" aria-hidden="true"
                                    style="color:#26A69A;"></i></strong></p>

                        <p>Ssbr iNet supports multiple languages on its platform, allowing users to access the content
                            in their preferred language.</p>
                    </mat-expansion-panel>
                </mat-accordion>
                } @placeholder {
                <app-spinner-card></app-spinner-card>
                }
            </div>

            <div class="top-categories-item">
                @defer (on viewport) {
                <mat-accordion>
                    <mat-expansion-panel (opened)="panelOpenState = true" showToggle
                        style="border-left:2.5px solid #3d0db6">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4><strong><span style="color:#26A69A;">10.</span></strong> <b> Is Ssbr iNet actively
                                        updating its content ?<i class="fa fa-question-circle-o" aria-hidden="true"
                                            style="color: #4207a0;"></i></b></h4>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p><strong>Answer.<i class="fa fa-check-circle" aria-hidden="true"
                                    style="color:#26A69A;"></i></strong></p>

                        <p> Yes, Ssbr iNet is committed to continually developing new courses and keeping its content
                            up-to-date by conducting research and staying informed about the latest trends in the
                            industry.
                        </p>
                    </mat-expansion-panel>
                </mat-accordion>
                } @placeholder {
                <app-spinner-card></app-spinner-card>
                }
            </div>
        </div>
    </div>
</section>