.career {
    width: 100%;
    margin: auto;
    padding: 40px 0px;
    // background-color: #d7ecea;
    background-image: url(/assets/images/homepage/bannerbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.career-heading{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headingName{
    font-size: 30px;
    font-weight: 600;
}


.careerLink{
    padding-top: 30px;
    bottom: 0;
}
.careerLink button{
    border: none;
}
.careerLink button a{
    text-decoration: none;
    color: #fff;
    background-color: #6610f2;
    font-size: 16px;
    padding: 8px 14px;
    border-radius: 5px;
    transition: .5s;
}
.careerLink button a:hover{
    background: #26A69A;
    color: #fff;
    // padding: 8px 16px;
    transform: skewX(10deg);
    box-shadow: 0px 0px 10px #26A69A;
    border-radius: 50px;
}



.career-row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    max-width: 1250px;
    margin: 20px auto;
    padding: 20px;
    gap: 30px;
}


.career-card {
    background: #fff;
    padding: 26px;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
    list-style: none;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid transparent;
    border: 1px solid #000;
    transition: 1s;
}

.career-card:hover {
    box-shadow: 0px 0px 10px #eee;
    transform: skew(10deg, 10deg);
}

.career-data {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: auto;
    transform: translateY(50px);
    animation: fadeInUp 0.9s ease-in-out forwards;
}



.career-text {
    display: flex;
    flex-direction: column;
    margin: 10px 15px;
}

.career-text h3 {
    font-size: 20px;
    margin: 20px 0px;
}

.CareerPath {
    background-color: #f7dff5;
    color: #b22485;
    padding: 5px 8px;
    border-radius: 16px;
    font-weight: 500;
    width: max-content;
}

.CareerPathOne {
    background-color: #d6f8d6;
    color: #205c20;
    padding: 5px 8px;
    border-radius: 16px;
    font-weight: 500;
    width: max-content;
}
.CareerPathTwo {
    background-color: #d1e8ff;
    color: #2968a8;
    padding: 5px 8px;
    border-radius: 16px;
    font-weight: 500;
    width: max-content;
}


.career-img img {
    width: 100%;
    aspect-ratio: 10/9;
    border-radius: 8px;
    object-fit: cover;
    padding: 10px;
    transform: translateY(50px);
    animation: fadeInUp 0.9s ease-in-out forwards;
}


.career-link {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 6px 0px;
}

.career-icons {
    border: 1px solid;
    border-radius: 57px;
    padding: 4px 10px;
    transition: 1s;

    .mat-icon {
        -webkit-user-select: none;
        user-select: none;
        background-repeat: no-repeat;
        display: inline-block;
        fill: currentColor;
        height: 24px;
        width: 24px;
        overflow: hidden;
        margin-top: 5px;
    }

}

.career-icons:hover {
    background-color: #04aa6d;
    color: #fff;
}



@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(55px);
    }
  
    100% {
        opacity: 1;
        transform: translateY(0);
    }
  }
  

@media (max-width: 1200px) {
    .career-row {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        margin: 20px auto;
        padding: 20px;
        gap: 30px;
    }
}

@media (max-width:768px) {
    .career-row {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        margin: 20px auto;
        padding: 20px;
        gap: 30px;
    }



}

@media (max-width:576px) {
    .career-row {
        width: 80%;
        display: block;
        gap: 20px;
    }

    .career-card {
        margin: 25px 0px;
    }
}