<div class="career">
    @defer (on viewport) {
    <div class="career-heading">
        <div class="headingName"> All Career Paths</div>
        <div class="careerLink">
            <button>
                <a href="">Read more</a>
            </button>
        </div>
    </div>
    } @placeholder {
    <app-spinner-card></app-spinner-card>
    }

    <div class="career-row">

        @defer (on viewport) {
        <div class="career-card">
            <div class="career-data">
                <div class="career-text">
                    <h3>Web Development</h3>
                    <span class="CareerPath">Developer</span>
                </div>
                <div class="career-img">
                    <img src="assets/images/homepage/webdevlop.svg" alt="Card Image">
                </div>
            </div>

            <div class="career-link">
                <div class="career-icons">
                    <mat-icon>call_made</mat-icon>
                </div>
                <div class="career-salary">
                    <p><a href="">₹ 7L+ Average Salary</a></p>
                </div>
            </div>
        </div>
        } @placeholder {
        <app-spinner-card></app-spinner-card>
        }

        @defer (on viewport) {
        <div class="career-card">
            <div class="career-data">
                <div class="career-text">
                    <h3>Data Science</h3>
                    <span class="CareerPathOne">Developer</span>
                </div>
                <div class="career-img">
                    <img src="assets/images/homepage/datascience.svg" alt="Card Image">
                </div>
            </div>

            <div class="career-link">
                <div class="career-icons">
                    <mat-icon>call_made</mat-icon>
                </div>
                <div class="career-salary">
                    <p><a href="">₹ 7L+ Average Salary</a></p>
                </div>
            </div>
        </div>
        } @placeholder {
        <app-spinner-card></app-spinner-card>
        }

        @defer (on viewport) {
        <div class="career-card">
            <div class="career-data">
                <div class="career-text">
                    <h3>Machine Learning</h3>
                    <span class="CareerPathTwo">AI</span>
                </div>
                <div class="career-img">
                    <img src="assets/images/homepage/machinelearning.svg" alt="Card Image">
                </div>
            </div>

            <div class="career-link">
                <div class="career-icons">
                    <mat-icon>call_made</mat-icon>
                </div>
                <div class="career-salary">
                    <p><a href="">₹ 7L+ Average Salary</a></p>
                </div>
            </div>
        </div>
        } @placeholder {
        <app-spinner-card></app-spinner-card>
        }

    </div>
    <br><br>
</div>