<h1>About Us</h1>

<section class="about">
  <div class="GroupBtn">
    <button><a href="/">&#10094; Previous</a></button>
    <button><a href="/company/disclaimer">Next &#10095;</a></button>
  </div>

  <p>Introduction of Ssbr iNet is a freemium educational platform website to learn coding online . Initially
    released in 2018, it takes its name from the Internet's World Wide Web, but is not affiliated with the Ssbr iNet
    consortium. Ssbr iNet works to provide courses covering all aspects of web technologies development. Ssbr iNet
    also publishes free HTML templates and web templates . It also has a built in online text editor called Try it
    Yourself. where you can edit the examples and run the code for testing. Ssbr iNet always keeps developing new
    courses by doing research.</p>

</section>




<h1> Mission and Vision?</h1>
<p>There are millions of websites created every day, also, there is much fake content spread on the internet.</p>
<p>So, Our main goal is to provide you with 100% Original and Safe content that provides you a great and better
  experience on the world wide web.</p>

<p>Our mission is to empower individuals and businesses with the necessary skills and knowledge to thrive in the
  digital age. We aim to be the go-to platform for high-quality online training, providing a seamless learning
  experience that enables our learners to achieve their goals and unlock their full potential.
</p>

<p>Our vision is to create a global community of lifelong learners, fostering a culture of continuous skill
  development and innovation. We strive to bridge the gap between education and industry requirements, equipping our
  learners with the expertise needed to succeed in their careers and drive positive change in their respective
  fields. </p>

<br>
<h1><b> What is our Service?</b></h1>
<br><br>
<div class="aboutService">
  <div class="aboutService-row">
    @for (Menuitem of aboutService; track $index) {
    <div class="aboutService-card">
      <div class="aboutServiceImg">
        <img [src]="Menuitem.ImageLink" alt="html">
      </div>
      <div class="aboutServicetext">
        <a [href]="Menuitem.UrlLink">{{Menuitem.UrlName}}</a>
      </div>
    </div>
    }
  </div>
</div>

<!-- <div class="founder">
  <div class="founder-card">
    <img src="assets/images/homepage/sate.jpg" alt="">
  </div>
  <div class="founder-card">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe perferendis unde sunt porro soluta veniam itaque
      adipisci pariatur, iure atque vitae deserunt aliquam deleniti maxime reiciendis repellendus vel fuga ullam!</p>
    <button><a href="">Details</a></button>
  </div>
</div> -->

<div class="GroupBtn">
  <button><a href="/">&#10094; Previous</a></button>
  <button><a href="/company/disclaimer">Next &#10095;</a></button>
</div>