<app-main-menu></app-main-menu>
<app-banner-card></app-banner-card>
<app-category></app-category>
<app-service-card></app-service-card>
<app-library-card></app-library-card>
<!-- <app-compilers-card></app-compilers-card> -->
<app-quiz-card></app-quiz-card>
<app-career-card></app-career-card>
<app-digital-card></app-digital-card>
@defer (on viewport){
<app-best-guidance></app-best-guidance>
}@placeholder {
<div class="spancolor">Loading.....</div>
}
<app-faq-card></app-faq-card>
<app-footer-card></app-footer-card>