/************************* free-tutorial - css code with responsive  ********************************/
.library{
    width: 100%;
    margin: auto;
    padding-bottom: 5px;
    font-family: Roboto, Helvetica Neue, sans-serif;
    background-color: #f0f1ff;
    padding: 40px 0px;
}
.library-heading{
    text-align: center;
    padding: 20px 0px;
}
.library-heading>h1{
    font-size: 50px;
    font-weight: 700;
    padding-top: 10px;
}

.library-row{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    margin: auto;
}
.library-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: transparent;
    padding: 20px 15px;
    margin: 0px 8px;
    border: .5px solid #fff;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
    transition: 1s;
    transform: translateY(50px);
    animation: fadeInUp 0.9s ease-in-out forwards;
}
.library-card:hover{
    box-shadow: 0px 0px 6px rgb(200, 201, 202);
}
.library-card-heading{
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 25px;
    display: flex;
}
.library-card-icons{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: space-between;
    align-items:center;
    gap: 10px;
    margin: 0px 15px;
}
.Icons-card{
    padding: 0px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: 1s;
    text-align: center;
    transform: translateY(50px);
    animation: fadeInUp 0.9s ease-in-out forwards;
}
.Icons-card:hover{
    box-shadow: 0px 0px 0px #f5f1f1;
}
.Icons-card a{
    text-decoration: none;
}
.Icons-card span{
    font-size: 16px;
    color: #212121;
    font-weight: 400;
}
.Icons-card span:hover{
    color: #04AA6D;
    text-decoration: underline;
    font-weight: bold;
}
.Icons-card img{
    width: 100%;
    height: 45px;
    // background-color: #f0f1ff;
    box-shadow: 0px 0px 1px #ccc;
    border-radius: 10px;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    transition: 1s;
}
.Icons-card img:hover{
    transform: rotate(360deg);
    box-shadow: 0px 0px 8px #26A69A;
}

.library-card-link{
    padding-top: 30px;
    bottom: 0;
}
.library-card-link button{
    border: none;
}
.library-card-link button a{
    text-decoration: none;
    color: #fff;
    background-color: #6610f2;
    font-size: 16px;
    padding: 8px 14px;
    border-radius: 5px;
    transition: .5s;
}
.library-card-link button a:hover{
    background: #26A69A;
    color: #fff;
    // padding: 8px 16px;
    box-shadow: 0px 0px 3px #26A69A;
    border-radius: 50px;
    transform: skewX(10deg) !important;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(55px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


@media only screen and (max-width: 992px) {
    .library-row{
        width: 95%;
        display: block;
        justify-content: space-between;
        align-items: center;
        gap: 25px;
        margin: auto;
    }
    .library-card{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        background-color: #fff;
        padding: 20px 15px;
        margin: 20px 8px;
        box-shadow: 0px 0px 6px rgb(200, 201, 202);
        border-radius: 5px;
        position: relative;
        transform: translateY(50px);
        animation: fadeInUp 0.9s ease-in-out forwards;
    }
    .library-card-heading{
        font-size: 20px;
        font-weight: 600;
        padding-bottom: 25px;
        display: flex;
    }
    .library-card-icons{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        justify-content: space-between;
        align-items:center;
        gap: 10px;
        margin: 0px 15px;
    }
    .Icons-card{
        padding: 0px 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        transition: 1s;
        text-align: center;
        transform: translateY(50px);
        animation: fadeInUp 0.9s ease-in-out forwards;
    }
    .Icons-card:hover{
        box-shadow: 0px 0px 0px #f5f1f1;
    }
    .Icons-card a{
        text-decoration: none;
    }
    .Icons-card span{
        font-size: 16px;
        color: #212121;
        font-weight: 400;
    }
    .Icons-card span:hover{
        color: #04AA6D;
        text-decoration: underline;
        font-weight: bold;
    }
    .Icons-card img{
        width: 100%;
        height: 45px;
        // background-color: #f0f1ff;
        box-shadow: 0px 0px 1px #ccc;
        border-radius: 10px;
        padding: 10px 0px;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }
    

    

}

@media only screen and (max-width: 576px) {
    .library-row{
        width: 95%;
        display: block;
        justify-content: space-between;
        align-items: center;
        gap: 25px;
        margin: auto;
    }

    .library-heading>h1{
        font-size: 34px;
        font-weight: 700;
        padding-top: 10px;
    }

    .library-card{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        background-color: #fff;
        padding: 20px 15px;
        margin: 20px 8px;
        box-shadow: 0px 0px 6px rgb(200, 201, 202);
        border-radius: 5px;
        position: relative;
        transform: translateY(50px);
        animation: fadeInUp 0.9s ease-in-out forwards;
    }
    .library-card-heading{
        font-size: 20px;
        font-weight: 600;
        padding-bottom: 25px;
        display: flex;
    }
    .library-card-icons{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-between;
        align-items: center;
        gap: 2px;
        margin: 0px 0px;
    }
    .Icons-card{
        padding: 0px 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        transition: 1s;
        text-align: center;
        transform: translateY(50px);
        animation: fadeInUp 0.9s ease-in-out forwards;
    }
    .Icons-card:hover{
        box-shadow: 0px 0px 0px #f5f1f1;
    }
    .Icons-card a{
        text-decoration: none;
    }
    .Icons-card span{
        font-size: 16px;
        color: #212121;
        font-weight: 400;
    }
    .Icons-card span:hover{
        color: #04AA6D;
        text-decoration: underline;
        font-weight: bold;
    }
    .Icons-card img{
        width: 100%;
        height: 45px;
        // background-color: #f0f1ff;
        box-shadow: 0px 0px 1px #ccc;
        border-radius: 10px;
        padding: 10px 0px;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }
    
}