
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ssbrinet-primary: mat.define-palette(mat.$indigo-palette);
$ssbrinet-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ssbrinet-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ssbrinet-theme: mat.define-light-theme((
  color: (
    primary: $ssbrinet-primary,
    accent: $ssbrinet-accent,
    warn: $ssbrinet-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ssbrinet-theme);

/* You can add global styles to this file, and also import other style files */
*{padding: 0%; margin: 0%;}
html, body { height: 100%;}
body { margin: 0; font-family: 'Roboto', "Helvetica Neue", sans-serif;}
p{
  line-height: 30px;
  font-size: 18px;
  padding: 10px 0px;
}

// Utils CSS List with Class and Id
.leftmenu ul li a.active {
  background-color: #26A69A !important;
  color: #fff !important;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-right: 5px;
}

// /* Dark Theme Styles */
.dark-theme {
  background-color:#041726;
  color: #ffffff;
}

@import './assets//styles/utils/color.utils.scss';
@import './assets//styles/layouts/layouts.scss';
@import './assets//styles/components/navbar.scss';
@import './assets/styles/main.scss'


