
.submenu {
    display: inline-flex;
    height: 40px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 0px 0 0px;
    flex-wrap: wrap;
}

.submenu .logo {
    color: #212121;
    font-size: 35px;
    font-weight: 600;
}

.submenu ul {
    width: 100% ;
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    overflow: scroll;
}
.submenu ul::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
.submenu ul::-webkit-scrollbar-track{
    height: 0px;
} 

.submenu ul li {
    margin: 0px 0px;
}

.submenu ul li a {
    color:#212121;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    padding: 6px 8px;
    margin: 0px 5px;
    border-radius: 0px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

.submenu ul li a.active,
.submenu ul li a:hover {
    color:#26A69A;
    // background:#04AA6D;  
    // border-radius: 50px;
    font-weight: bold;
}

.submenu .menu-btn i {
    color: var(--white-color);
    font-size: 22px;
    cursor: pointer;
    display: none;
}

.sidebar-icon {
    display: none;
}


@media (max-width: 920px) {
    .submenu .menu-btn i {
        display: inline;
    }

    .submenu ul li {
        margin: 0px 0px;
        padding: 0px 0px;
    }

    .desktop-item {
        display: none;
    }
    .desktop-item2 {
        display: block;
    }

    .sidebar-icon {
        display: block;
    }

}

@media (max-width: 576px) {
    .submenu .menu-btn i {
        display: inline;
    }

    .submenu ul li {
        margin: 0px 0px;
        padding: 0px 0px;
    }

}