<div class="submenu">
    <ul>
        <li><a routerLink="/html" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">HTML</a></li>
        <li><a routerLink="/css" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">CSS</a></li>
        <li><a routerLink="/js" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">JavaScript</a></li>
        <li><a routerLink="/node" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Node JS</a></li>
        <li><a routerLink="/sql" class="desktop-item" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact:true}">SQL</a></li>
        <li><a routerLink="/mongodb" class="desktop-item" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact:true}">MongoDB</a></li>
        <li><a routerLink="/python" class="desktop-item" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact:true}">Python</a></li>
        <li><a routerLink="/java" class="desktop-item" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact:true}">Java</a></li>
        <li><a routerLink="/how_to.htm" class="desktop-item" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact:true}">How To</a></li>
        <li><a routerLink="/c" class="desktop-item" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact:true}">C</a></li>
        <li><a routerLink="/cplusplus" class="desktop-item" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact:true}">C++</a></li>
        <li><a routerLink="/c_shrap" class="desktop-item" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact:true}">C#</a></li>
        <li><a routerLink="/react" class="desktop-item" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact:true}">React js</a></li>
        <li><a routerLink="/r" class="desktop-item" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact:true}">R</a></li>
        <li><a routerLink="/django" class="desktop-item">Django</a></li>
        <li><a routerLink="/typescript" class="desktop-item">TypeScript</a></li>
        <li><a routerLink="/kotlin" class="desktop-item">Kotlin</a></li>
        <li><a routerLink="/c_sharp_introduction.htm" class="desktop-item">Angular</a></li>
    </ul>
</div>